header
{
	background-image: url(../images/macbook-air-glasses.jpg);
	background-color:rgb(255,140,0,.6);
	/* height: 100vh; */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
.nav-wrapper a
{
	display: block!important;
}

.back-color
{	
	background-color:rgb(255,140,0,.6);
	height: 100vh;

}
.text
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.text h3
{
	font-weight: bold;
	
	
	top: 50%;
	position: relative;
}

.text hr
{
	width: 20%;
	color: #000;

}

.text p
{
	padding-top: 20px;
	line-height: 30px;
}

.one
{
	height: 377px;
}
.text1
{
 padding-top: 50PX;
 padding-bottom:75px;
  
}

.text1 h3
{
	font-weight: bold;
	padding-bottom: 20px;
	color: #000;
	
}

.text1 hr
{
	width: 20%;
	color: #000;


}

.text1 p
{
	padding-top: 20px;
	line-height: 30px;
}


.two
{
	background-image: url(../images/macbook-pro.jpg);
	background-color:rgb(33, 33, 33, .6);
	/* height: 100vh; */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.back-color1
{	
	background-color:rgb(33, 33, 33, .6);
	height: 50vh;

}

.my-btn
{
	padding:0 95px;
	border:2px solid#fff;
	background-color: transparent;
	height: 66px;
}

.tree
{
	min-height: 170vh;
	padding-bottom:50px;
}

.card-image img
{
	height: 300px;
}

.card-image {
    position: relative;
    z-index: 1;
}

.hover {
    
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    transform: scaleY(0);
    transform-origin: bottom center;
    background-color:rgb(33, 33, 33, .6);
    z-index: -1;
    transition: transform 0.6s;
    border: 5px solid #000;
}

.card-image:hover .hover {
    transform: scaleY(1);
    z-index: 10;
}

.tabs .tab a 
{
	padding: unset;
	color: gray;
}
.tabs .tab a:hover, .tabs .tab a.active 
{
	color: #000;
}

.button
{
	text-align: center;
	padding-top: 20px;
}
.my-btn2
{
	padding:0 90px;
	line-height: 0;
	border:2px solid#000;
	background-color: transparent;
	height: 50px;
	color: #000;
}
.four
{
	background-image: url(../images/original.jpg);
	background-color:rgb(33, 33, 33, .6);
	height: 80vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;

}
.back-color2
{	
	background-color:rgb(33, 33, 33, .6);
	height: 80vh;

}

.five
{
	background-color: #DCDCDC;
	padding-bottom:50px;
}

.six
{
	height: 100vh;
	padding-bottom:100px;
	margin-bottom:100px;
}



.text3
{
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.text3 h5
{
	font-weight: bold;
	bottom: 20%;
	
	
	position: relative;
}

.text3 hr
{
	width: 20%;
	color: #000;

}

.text3 p
{
	
	line-height: 30px;
}

.text4
{
 text-align: center;
  color: #000;
  padding: 30px;
  position: relative;
  top: 20%;
}
.text4 a
{
	color: #000;
	border: 3px solid #323233;
	background-color: transparent;
	box-shadow: unset;
	padding: 0 40px;
}
.my-size
{
	border: 2px solid #C0C0C0;
	height: 300px;
}


.ten
{
	min-height: 500px;

}

.menu-items
{
	color: #000!important;
}